body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
main {
    margin-top: 45px ;
    /* margin: 45px 20px 0px 20px ; */
    padding: 0 100px;
    display: flex;
    justify-content: center;
    flex-wrap: column wrap;
}
#search-bar{
    width: 400px;
}
#product-list {
    width: 100%;
    display: grid;
        grid-template-columns: auto auto auto auto;
        gap :  20px;
        padding : 0 40px;
}
/* respongtive */
@media screen and    (max-width: 720px)   { 
    #search-bar {

    }

    
}
